<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhe.grain.mapper.commodity.CommoditySpuInfoDescMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhe.grain.domain.commodity.CommoditySpuInfoDesc">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="decript" property="decript" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_id, decript
    </sql>

</mapper>
