<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhe.grain.mapper.commodity.GrainCommodityAttrgroupCategoryRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhe.grain.domain.commodity.GrainCommodityAttrgroupCategoryRelation">
        <id column="id" property="id" />
        <result column="attr_group_id" property="attrGroupId" />
        <result column="category_id" property="categoryId" />
        <result column="attr_name" property="attrName"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, attr_group_id, category_id
    </sql>
    <delete id="batchDelete">
        DELETE FROM `grain_commodity_attrgroup_category_relation`
        <where>
            <foreach collection="attrGroupIds" item="attrGroupId"
                     open="`attr_group_id` IN (" separator=", " close=")">
                #{attrGroupId}
            </foreach>
        </where>
    </delete>
    <select id="selectAllByCategoryId"
            resultType="com.zhe.grain.domain.commodity.GrainCommodityAttrgroupCategoryRelation">
        select
            attr_group_id, attr_name
        from
            `grain_commodity_attrgroup_category_relation`
        <where>
            category_id = #{categoryId}
        </where>
    </select>

</mapper>
