<!--写出头文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhe.grain.mapper.commodity.GrainCategoryMapper">
    <resultMap id="baseResultMapper" type="GrainCategoryEntity">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="cat_level" property="catLevel"/>
        <result column="name" property="name"/>
        <result column="is_show" property="isShow"/>
        <result column="pro_count" property="proCount"/>
        <result column="pro_unit" property="proUnit"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
    </resultMap>
    <select id="getNotSelectedCategory" resultType="GrainCategoryEntity" parameterType="Long">
        SELECT
            *
        FROM
            `grain_category` AS g
        WHERE
                g.id NOT IN (
                SELECT
                    category_id
                FROM
                    grain_category_brand_relation
                WHERE
                    brand_id = 1)
          AND g.is_show = 1
    </select>
    <select id="getNotSelectedCategoryByAttrGroupId" resultType="com.zhe.grain.entity.GrainCategoryEntity">
        SELECT
            `id`, `name`, `parent_id`
        FROM
            `grain_category` AS g
        WHERE
                g.id NOT IN (
                SELECT
                    category_id
                FROM
                    `grain_commodity_attrgroup_category_relation` AS gc
                WHERE
                    gc.attr_group_id = #{attrGroupId})
          AND g.is_show = 1
    </select>
    <select id="getNotSelectedCategoryByAttrId" resultType="com.zhe.grain.entity.GrainCategoryEntity">
        SELECT g.id,
               g.NAME,
               g.`parent_id`
        FROM `grain_category` AS g
            where
                g.id NOT IN (
                SELECT
                    category_id
                FROM
                    `grain_attr_category_relation`
                AS gac
                WHERE gac.attr_id = #{attrId}
                )
        AND g.is_show = 1
    </select>
</mapper>