<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhe.grain.mapper.commodity.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhe.grain.domain.commodity.Orders">
        <id column="order_id" property="orderId" />
        <result column="customer_id" property="customerId" />
        <result column="total_amount" property="totalAmount" />
        <result column="order_status" property="orderStatus" />
        <result column="payment_status" property="paymentStatus" />
        <result column="shipping_address" property="shippingAddress" />
        <result column="billing_address" property="billingAddress" />
        <result column="tracking_number" property="trackingNumber" />
        <result column="shipping_method" property="shippingMethod" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, customer_id, total_amount, order_status, payment_status, shipping_address, billing_address, tracking_number, shipping_method, created_at, updated_at
    </sql>

</mapper>
